span Hello,
br
p A new volunteer has registered. Please contact them shortly.
div
    p #{user.name}
    p #{user.email} : #{user.phone}
    p #{user.country} : #{user.region}
    p #{user.interests}
    p #{user.skills}
p Regards,

p - Give Light Foundation


